<div class="container" id="i18_contact">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="navy-line"></div>
      <h1><span data-i18n="contact.title">Contact</span></h1>
      <p><span data-i18n="contact.desc">If you have a question or proposal, leave me a message below</span></p>
    </div>
  </div>
  <div class="row features-block">
    <div class="col-sm-6 col-sm-offset-3">
      <form action="https://formspree.io/f/xrpzderb" method="POST">
        <div class="form-group">
          <input type="email" name="email" class="form-control" data-i18n="[placeholder]contact.email_placeholder" placeholder="Your email" required style="margin-bottom: 15px; padding: 10px;">
        </div>
        <div class="form-group">
          <textarea name="message" class="form-control" rows="5" data-i18n="[placeholder]contact.message_placeholder" placeholder="Write your message" required style="margin-bottom: 15px; padding: 10px;"></textarea>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary"><span data-i18n="contact.button">Send</span></button>
        </div>
      </form>
    </div>
  </div>
</div>